*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 8px;
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
.grid {
    max-width: 1200px;
    padding: 30px;
    margin:  auto;
    font-size: 50px;
    padding-top: 73px;
    
}
.grid .col {
   float: left; 
    height: 300px ;
    background-color: rgb(63, 99, 87);
    padding: 15px;
    
}

.grid .col-content{
    display: flex;
   width: 100%;
   height: 100%;
   background-color: azure;
    /* font-size: 0.5em;"em"pega e leva em consideração o tamanho do pai mais próximo */
    font-size: 4rem;/*pega o pai da página toda*/
    justify-content: center;
    align-items: center ;
    border-radius:105px 5px 105px 5px;
    box-shadow: 10px 10px 15px 0px rgba(9, 66, 9, 0.384), inset 1px  1px 5px 0px rgba(16, 59, 5, 0.884);
}
 
.grid::after{
    content: '';
    display: block;
    clear: both;
}
.menu{
    width: 100%;
    position: fixed;
    background-color: cadetblue;
}
.menu ul{
   list-style: none;
   display: block;
   max-width: 1200px;
   padding: 0 30px;
   margin: 0 auto;
}
.menu ul li{
    float: left;    
}
.menu ul li a{
    display: block;
    color: aliceblue;
    padding: 20px;  
    font-size: 20px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    transition: all 300ms cubic-bezier(1, -0.34, 0.71, 0.88);;
}
.menu ul li a:hover{
    background-color: rgb(91, 123, 124);
}
.full-page {
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 30px;
    padding-top: 73px;
    background-color: beige;
    height: 100vh;
}
.full-page-content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 30px;
}
p{
    clear: both;
    
}
/* para responsividade */
@media all and (max-width: 568px){
    .grid .col{
        width: 100%;
    }
}
@media all and (min-width: 569px) and (max-width:768px) {
    .grid .col{
        width: 50%;
    }
}
@media all and (min-width: 769px) and (max-width:1200px) {
    .grid .col{
        width: 33.33%;
    }
}
@media all and(min-width:1200px){
    .grid .col{
        width: 25%;
    }
}

/* .texto{
    box-sizing: content-box;
    background-color: rgb(40, 148, 148);
    overflow: auto;
    width: 500px;
    min-width: 0;
    max-width: 100%;
    max-height:100%;
    min-height: 0;
    height: 180px;
    margin: 0 auto 50px auto;
    padding: 20px;
    border: 4px dotted rgb(63, 59, 59);
} */