*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    background-color: rgba(23, 87, 10, 0.884);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 640px;
    
    flex-wrap: wrap;
}
.flex-item{
    width: 33,33%;
    background-color: rgba(61, 185, 45, 0.747);
    border-radius: 4px;
    margin: 10px;
    color: white;
}