/* ul li::after{
    content: '-';
    background-color: antiquewhite;
    display:block;
} */

ul li::before{
    content: '-';
    background-color: antiquewhite;
    display:block;
}

p::first-letter{
    font-size: 100px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}
p::first-line{
    color: blue;
}
p::selection{
    color: blueviolet;
}

::placeholder{
    color: antiquewhite;
}
.form-field::placeholder {
color: black;
}
/* 
ID  classes, atributos e pseudo-classes elementos e pseudo-elementos
1    0                                    0      
0    1                                    0
1    1                                    0

*/

#p{
    background-color: cadetblue;
}
/* tem que ter id e classe p */
#p.p {
    background-color: aqua ;
}
/* p que tem um id p */
p#p.p{
    background-color: blueviolet;
}